{
    margin: 0px;
    padding: 0px;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
} 

nav ul{
    display: flex;
    margin-right: 50px;
}
nav ul,li{
    display: inline-block;
    /* color: white; */
    list-style-type: none;
    /* margin-left: 10px; */
    margin: 10px 27px;
    font-size: 1.2em;
}
.buttons
{
    width: 300px;
    display: flex;
    justify-content: space-between;
    margin-right: 100px;
}
.buttons button{
    width: 120px;
    height: 38px;
    background-color: blueviolet;
    border: none;
    color: white;
    font-size: 1.1em;
}
.buttons button:nth-child(2)
{
    background-color:rgb(255, 81, 0) ;
    border-radius: 6px;
}
nav{
    display: flex;
    background-color: blueviolet;
    align-items: center;
    justify-content: space-evenly;
    color: aliceblue;
    margin-bottom: 0px;
}
.nav h3{
    /* color: white; */
    font-size: 2em;
    /* margin-left: 50px; */
}
.content1
{
    background-color: blueviolet;
    height: 35rem;
    width: 100%;
    padding-inline: 1rem;
    display: inline-flex;
    gap: 1.2rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.content1 h1{
    padding-top: 150px;
    color: white;
    text-align: center;
}

.content1 p{
    padding-top: 10px;
    padding-bottom: 20px;
    text-align: center;
}
.try {
    display: flex;
    flex-direction: row;
}
.button1
{
    background-color:rgb(255, 81, 0) ;
    color: white;
    width: 150px;
    height: 30px;
    border: none;
    border-radius: 2px;
    margin: 10px;
}
.button2
{
    background-color: blueviolet;
    border: 2px solid rgb(255, 81, 0) ;
    width: 150px;
    height: 30px;
    border-radius: 2px;
    margin: 10px;
    color: white;
    margin-left: 1px;
}
.container1
{
    background-color: #26335D;
}
.content2
{   padding-top: 100px;
    margin-left: 100px;
}
.content2 h4{
    color: blueviolet;
}
.content2 h1,p{
    color: white;
}
.container2
{
    display: flex;
    gap: 30px;
}
.card1
{
    height: 320px;
    width: 300px;
    background-color: white;
    color: black;
    margin-left: 100px;
    margin-top: 50px;
    
}
.card1 p{
    color: black;
    font-size: small;
    padding: 20px;
    margin-right: 30px;
    color: gray;
}
.card1 img{
    height: 50px;
    width: 50px;
    background-color: #8080801f;
    margin-top: 40px;
    margin-left: 30px ;
    padding: 15px;
    border-radius: 5px;
}
.card1 h4{
    margin-left: 25px;
    margin-top: 30px;
}
.card1 h1{
color: red;
margin-left: 10px;
}
.card2
{
    height: 320px;
    width: 300px;
    background-color: white;
    color: black;
    margin-top: 100px;
}
.card2 p{
    color: black;
    font-size: small;
    padding: 20px;
    margin-right: 30px;
    color: gray;
}
.card2 img{
    height: 50px;
    width: 50px;
    background-color: #e1e7f4;
    margin-top: 40px;
    margin-left: 30px ;
    padding: 15px;
    border-radius: 5px;
}
.card2 h4{
    margin-left: 25px;
    margin-top: 30px;
}
.card2 h1{
color: red;
margin-left: 10px;
}


.card3
{
    height: 320px;
    width: 300px;
    background-color: blueviolet;
    color: white;
    margin-top: 50px;
    
}
.card3 p{
    color: white;
    font-size: small;
    padding: 20px;
    margin-right: 30px;
}
.card3 img{
    height: 50px;
    width: 50px;
    background-color: white;
    margin-top: 40px;
    margin-left: 30px ;
    padding: 15px;
    border-radius: 5px;
}
.card3 h4{
    margin-left: 25px;
    margin-top: 30px;
}
.card3 h1{
color: white;
margin-left: 10px;
}

.card4
{
    height: 320px;
    width: 300px;
    background-color: white;
    color: black;
    margin-top: 100PX;
    
}
.card4 p{
    color: black;
    font-size: small;
    padding: 20px;
    margin-right: 30px;
    color: gray;
}
.card4 img{
    height: 50px;
    width: 50px;
    background-color: #ffd6d6;
    margin-top: 40px;
    margin-left: 30px ;
    padding: 15px;
    border-radius: 5px;
}
.card4 h4{
    margin-left: 25px;
    margin-top: 30px;
}
.card4 h1{
color: red;
margin-left: 10px;
}

.content3
{   padding-top: 100px;
    margin-left: 230px;
}
.content3 h4{
    color: blueviolet;
}
.content3 h1,p{
    color: white;
}
.content3 p{
    margin-left: 0px;
    padding-left: 0px;
}
.container3
{
    display: flex;
    margin-top: 100px;
    margin-left: 230px;
    gap: 20px;
    border: none;
}
.list1
{
    background-color: white;
    width: 241px;
    height: 750px;
}
.list1 h3
{
    color: blueviolet;
    padding: 20px;
}
.list1 p{
    color: gray;
    padding: 10px;
    margin-left: 5px;
}
.list1 h2{
    padding: 5px;
    margin-left: 10px;
}
.list1 button
{
    border-radius: 20px;
    width: 110px;
    height: 30px;
    background-color: white;
    border: 2px solid blueviolet;
    color: blueviolet;
    margin-top: 10px;
    margin-left: 23px;
}
.list1 h4{
    padding: 10px;
    margin-left: 5px;
}

.list2
{
    background-color: white;
    width: 241px;
    height: 750px;
}
.list2 h3
{
    color: blueviolet;
    padding: 20px;
}
.list2 p{
    color: gray;
    padding: 10px;
    margin-left: 5px;
}
.list2 h2{
    padding: 5px;
    margin-left: 10px;
}
.list2 button
{
    border-radius: 20px;
    width: 110px;
    height: 30px;
    background-color: white;
    border: 2px solid blueviolet;
    color: blueviolet;
    margin-top: 10px;
    margin-left: 23px;
}
.list2 h4{
    padding: 10px;
    margin-left: 5px;
}

.list3
{
    background-color: white;
    width: 241px;
    height: 750px;
}
.list3 h3
{
    color: blueviolet;
    padding: 10px;
}
.list3 p{
    color: gray;
    padding: 10px;
    margin-left: 5px;
}
.list3 h2{
    padding: 5px;
    margin-left: 10px;
}
.list3 button
{
    border-radius: 20px;
    width: 110px;
    height: 30px;
    background-color: white;
    border: 2px solid blueviolet;
    color: blueviolet;
    margin-top: 10px;
    margin-left: 23px;
}
.list3 h4{
    padding: 10px;
    margin-left: 5px;
}

.list4
{
    background-color: white;
    width: 241px;
    height: 750px;
}
.list4 h3
{
    color: blueviolet;
    padding: 20px;
}
.list4 p{
    color: gray;
    padding: 10px;
    margin-left: 5px;
}
.list4 h2{
    padding: 5px;
    margin-left: 10px;
}
.list4 button
{
    border-radius: 20px;
    width: 110px;
    height: 30px;
    background-color: white;
    border: 2px solid blueviolet;
    color: blueviolet;
    margin-top: 10px;
    margin-left: 23px;
}
.list4 h4{
    padding: 10px;
    margin-left: 5px;
}
.Container4
{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 676px;
    width: 1440px;
}
.red
{
    background-color: red;
    width: 94px;
    height: 7px;
    margin-left: 20px;
}
.content4 h1,p{
    color: white;
    padding: 20px;
}
.content4 h4{
    color: blueviolet;
    padding: 20px;
    
}
.content4{
    padding: 150px;
    /* margin-top: 100px; */
}
.img1
{
    margin-top: 100px;
}
.container5
{
    height: 676px;
    width: 1440px;
    margin-left: 250px;
}
.pamplet
{
    background-color: white;
    height: 420px;
    width: 450px;
}
.pamplet p
{
color: gray;

}
.pamplet h5{
    color: black;
    margin-top: 10px;
}
.boys
{
    display: flex;
    gap: 30px;
    margin-top: 20px;
    margin-left: 20px;
}
.cont5
{
    text-align: center;
}
.img5
{
margin-left: 40%;
margin-top: 20px;
border-radius: 50%;
}
.img6
{
margin-left: 40%;
margin-top: 20px;
}
.content5 h5
{
color: blueviolet;
padding: 15px;
}
.content5 h1
{
color: white;
margin-left: 13px;
}
.images1
{
    width: 238px;
    height: 375px;
    background-color: white;
    border-radius: 20px;
}
.images1 p{
    color: gray;
}
.images{
display: flex;
gap: 30px;
width: 1049px;
height: 375px;
margin-top: 20px;
margin-left: 15px;
}
.images img{
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    width: 237px;
}
.container6
{
    margin-left: 250px;
    margin-top: 80px;
}
.container6 h5
{
color: blueviolet;
margin-left: 20px;
}
.container6 h1{
    color: white;
    padding: 15px;
}
.cont6
{
    text-align: center;
    margin-top: 20px;
}
.container7
{
    width: 1050px;
    /* height: 592px; */
    text-align: center;
    padding: 160px ;
    /* padding-bottom: 50px; */
    margin-left: 100px;
}
.container7 input{
    width: 500px;
    height: 30px;
    margin: 0px;
}
.subscribe{
    background-color: blueviolet;
    color: white;
    margin-left: 0px;
    height: 35px; 
}
.container7 h1{
    color: white;
}
.container7 h6{
    color: blueviolet;
    padding: 10px;
}
.container8
{   
    width: 1440px;
    height: 272px;
    display: flex;
    margin-left: 150px;
}
.li
{

margin: 50px;
    /* margin-bottom: 100px; */
    
}
.li img{
    height: 15px;
    width: 15px;
   
}
.container9
{
    text-align: center;
    background-color: white;
}
.container10
{
    display: flex;
    justify-content: space-evenly;
    height: 676px;
    width: 1440px;
}

.content10 h1,p{
    color: white;
    padding: 20px;
}
.content10 h4{
    color: blueviolet;
    padding: 20px;
    
}
.content10{
    padding: 180px;
    /* margin-top: 100px; */
}
.container10  img
{
width: 380px;
height: 380px;
/* margin-top: 130px; */
padding: 100px;
margin-left: 100px;
}